apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: boutique-dev

resources:
  - ../../base

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment

images:
  - name: us-central1-docker.pkg.dev/google-samples/microservices-demo/frontend
    newName: kenzo213/frontend
    newTag: latest
